<!--include header-->
<%- include('inc/_header.ejs') %>
    <div class="main banner">
        <h1 class="header1">Dashboard</h1>
    </div>

    <div class="add_user_btn">
        <a href="/add-new" class="add_new_link"><i class="fa-solid fa-user"></i> Add New</a>
    </div>

    <table class="dashboard-t">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact No.</th>
            <th>Gender</th>
        </tr>
        <% for(var i = 0; i < data.length; i++){%>
        <tr>
            <td><%=i+1%></td>
            <td><%=data[i].name%></td>
            <td><%=data[i].email%></td>
            <td><%=data[i].contact_no%></td>
            <td><%=data[i].gender%></td>
        </tr>
        <%}%>
    </table>

    <!--include footer-->
    <%- include('inc/_footer.ejs') %>